body{
    margin: 0;
    color: #6a6f8c;
    background: #E6E6FA;
    font: 600 16px/18px 'Open Sans', sans-serif
}

.login-box {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    max-width: 525px;
    min-height: 400px;
    position: relative;
    background-image: url("img1.png");
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

